//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Left_Parenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 2>;
            timeout-ms = <50>;
            layers = <3 4>;
        };

        Right_Parenthesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 7>;
            layers = <3 4>;
            timeout-ms = <50>;
        };

        Left_Brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <1 2>;
            timeout-ms = <50>;
            layers = <3 4>;
        };

        Right_Brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <8 7>;
            timeout-ms = <50>;
            layers = <3 4>;
        };

        Right_Bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <16 17>;
            timeout-ms = <50>;
            layers = <3 4>;
        };

        Left_Bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <13 12>;
            timeout-ms = <50>;
            layers = <4 3>;
        };

        Double_Quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <18 17>;
            timeout-ms = <50>;
            layers = <4 3>;
        };

        Single_Quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <11 12>;
            timeout-ms = <50>;
            layers = <4 3>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };

        hl: hold_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_LAYER";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };
    };

    macros {
        MC_TO_KOR: MC_TO_KOR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG1 &to 0>;
            label = "MC_TO_KOR";
        };

        MC_TO_ENG: MC_TO_ENG {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_1 &to 1>;
            label = "MC_TO_ENG";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        KOR_LAYER {
            bindings = <
            &kp Q       &kp W       &kp E        &kp R         &kp T      &kp Y        &kp U         &kp I        &kp O       &kp P
            &hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHIFT F  &kp G      &kp H        &hm RSHIFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SEMI
&MC_TO_ENG  &kp Z       &kp X       &kp C        &kp V         &kp B      &kp N        &kp M         &kp COMMA    &kp DOT     &kp FSLH       &kp BSLH
                                    &kp ESC      &kp SPACE     &kp TAB    &lt 2 ENTER  &kp BSPC      &kp DEL
            >;
        };

        ENG_LAYER {
            bindings = <
            &kp W       &kp L       &kp Y        &kp P         &kp B      &kp Z      &kp F         &kp O        &kp U       &kp SQT
            &hm LGUI C  &hm LALT R  &hm LCTRL S  &hm LSHIFT T  &kp G      &kp M      &hm RSHIFT N  &hm RCTRL E  &hm RALT I  &hm RGUI A
&MC_TO_KOR  &kp Q       &kp J       &kp V        &kp D         &kp K      &kp X      &kp H         &kp FSLH     &kp COMMA   &kp DOT     &kp BSLH
                                    &kp ESC      &kp SPACE     &kp TAB    &lt 2 RET  &kp BSPC      &kp DEL
            >;
        };

        sim_layer {
            bindings = <
               &kp GRAVE        &kp TILDE       &kp POUND   &kp AMPERSAND  &kp PIPE      &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LBKT          &kp RBKT
               &kp EXCLAMATION  &kp UNDERSCORE  &kp COLON   &kp EQUAL      &kp DOLLAR    &kp AT_SIGN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE    &kp SEMI
&kp AMPERSAND  &kp PERCENT      &kp QUESTION    &kp ASTRK   &kp PLUS       &kp BSLH      &kp FSLH     &kp MINUS             &kp LESS_THAN          &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp SQT
                                                &kp ESCAPE  &kp SPACE      &kp TAB       &kp ENTER    &kp BACKSPACE         &kp DELETE
            >;

            label = "SIM";
        };

        feature_layer {
            bindings = <
       &kp C_BRI_DEC  &kp C_BRI_INC  &kp C_VOL_DN  &kp C_VOL_UP  &none      &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &none
       &kp LGUI       &kp LALT       &kp LCTRL     &kp LSHFT     &none      &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &hm RGUI PRINTSCREEN
&none  &none          &none          &none         &none         &none      &none      &none      &none      &none      &none                 &none
                                     &kp ESC       &kp SPACE     &kp TAB    &kp ENTER  &kp BSPC   &kp DEL
            >;

            label = "FEATURE";
        };

        func_layer {
            bindings = <
       &kp F12  &kp F11  &kp F10  &kp F9       &none        &none      &none      &none      &none     &none
       &kp F8   &kp F7   &kp F6   &kp F5       &none        &none      &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
&none  &kp F4   &kp F3   &kp F2   &kp F1       &none        &none      &none      &none      &none     &none     &none
                         &kp ESC  &lt 2 SPACE  &lt 3 TAB    &kp ENTER  &kp BSPC   &to 2
            >;

            label = "FUNC";
        };
    };
};
