//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Left_Parenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 2>;
            timeout-ms = <50>;
            layers = <3 4>;
        };

        Right_Parenthesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 7>;
            layers = <3 4>;
            timeout-ms = <50>;
        };

        Left_Brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <1 2>;
            timeout-ms = <50>;
            layers = <3 4>;
        };

        Right_Brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <8 7>;
            timeout-ms = <50>;
            layers = <3 4>;
        };

        Right_Bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <16 17>;
            timeout-ms = <50>;
            layers = <3 4>;
        };

        Left_Bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <13 12>;
            timeout-ms = <50>;
            layers = <4 3>;
        };

        Double_Quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <18 17>;
            timeout-ms = <50>;
            layers = <4 3>;
        };

        Single_Quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <11 12>;
            timeout-ms = <50>;
            layers = <4 3>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };

        hl: hold_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_LAYER";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };

        ge: ge {
            compatible = "zmk,behavior-hold-tap";
            label = "GE";
            bindings = <&kp>, <&go_eng>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <130>;
        };

        gk: gk {
            compatible = "zmk,behavior-hold-tap";
            label = "GK";
            bindings = <&kp>, <&go_kor>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <130>;
        };
    };

    macros {
        go_eng: go_eng {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG1 &to 0>;
            label = "GO_ENG";
        };

        go_kor: go_kor {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG1 &to 1>;
            label = "GO_KOR";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        eng_layer {
            bindings = <
               &kp W       &kp L       &kp Y        &kp P         &kp B        &kp Z        &kp F         &kp O        &kp U       &kp APOS
               &hm LGUI C  &hm LALT R  &hm LCTRL S  &hm LSHIFT T  &kp G        &kp M        &hm RSHIFT N  &hm RCTRL E  &hm RALT I  &hm RGUI A
&gk CAPS CAPS  &kp Q       &kp J       &kp V        &kp D         &kp K        &kp X        &kp H         &kp FSLH     &kp COMMA   &kp DOT     &hl 1 BSLH
                                       &lt 4 ESC    &lt 2 SPACE   &lt 3 TAB    &lt 3 ENTER  &lt 2 BSPC    &lt 4 DEL
            >;
        };

        kor_layer {
            bindings = <
               &kp Q       &kp W       &kp E        &kp R         &kp T        &kp Y        &kp U         &kp I        &kp O       &kp P
               &hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHIFT F  &kp G        &kp H        &hm RSHIFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SEMI
&ge CAPS CAPS  &kp Z       &kp X       &kp C        &kp V         &kp B        &kp N        &kp M         &kp FSLH     &kp COMMA   &kp DOT        &hl 0 BSLH
                                       &lt 4 ESC    &lt 2 SPACE   &lt 3 TAB    &lt 3 ENTER  &lt 2 BSPC    &lt 4 DEL
            >;
        };

        sim_layer {
            bindings = <
               &kp GRAVE        &kp TILDE       &kp POUND   &kp AMPERSAND  &kp PIPE      &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LBKT          &kp RBKT
               &kp EXCLAMATION  &kp UNDERSCORE  &kp COLON   &kp EQUAL      &kp DOLLAR    &kp AT_SIGN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE    &kp SEMI
&kp AMPERSAND  &kp PERCENT      &kp QUESTION    &kp ASTRK   &kp PLUS       &kp BSLH      &kp FSLH     &kp MINUS             &kp LESS_THAN          &kp GREATER_THAN  &kp DOUBLE_QUOTES  &kp SQT
                                                &kp ESCAPE  &kp SPACE      &kp TAB       &kp ENTER    &kp BACKSPACE         &kp DELETE
            >;

            label = "SIM";
        };

        command_layer {
            bindings = <
               &kp LC(F)        &kp LC(Z)           &kp LC(Y)        &kp LC(S)        &none        &kp RALT   &kp HOME  &kp PG_DN  &kp PG_UP  &kp END
               &hm LMETA LC(A)  &hm LC(LALT) LC(X)  &hm LCTRL LC(C)  &hm LSHFT LC(V)  &kp LC(B)    &kp RSHFT  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT
&kp LC(LA(T))  &kp LC(P)        &kp LC(W)           &kp LC(LS(C))    &kp LC(LS(V))    &kp LC(R)    &none      &none     &none      &none      &none      &kp PRINTSCREEN
                                                    &kp ESC          &kp SPACE        &kp TAB      &kp ENTER  &kp BSPC  &kp DEL
            >;

            label = "FEATURE";
        };

        num_layer {
            bindings = <
       &kp F12  &kp F11  &kp F10  &kp F9     &none      &kp PLUS   &kp N7  &kp N8    &kp N9  &kp STAR
       &kp F8   &kp F7   &kp F6   &kp F5     &none      &kp MINUS  &kp N4  &kp N5    &kp N6  &kp FSLH
&none  &kp F4   &kp F3   &kp F2   &kp F1     &none      &kp DOT    &kp N1  &kp N2    &kp N3  &kp PERCENT  &none
                         &kp ESC  &kp SPACE  &kp TAB    &kp ENTER  &kp N0  &kp BSPC
            >;

            label = "FUNC";
        };
    };
};
