//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Left_Parenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <3 2>;
            timeout-ms = <50>;
            layers = <0 2 3>;
        };

        Right_Parenthesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 7>;
            layers = <0 2 3>;
            timeout-ms = <50>;
        };

        Left_Brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <1 0>;
            timeout-ms = <50>;
            layers = <0 2 3>;
        };

        Right_Brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <8 9>;
            timeout-ms = <50>;
            layers = <0 2 3>;
        };

        Right_Bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <16 17>;
            timeout-ms = <50>;
            layers = <0 2 3>;
        };

        Left_Bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <13 12>;
            timeout-ms = <50>;
            layers = <0 3 2>;
        };

        Double_Quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <18 19>;
            timeout-ms = <50>;
            layers = <0 3 2>;
        };

        Single_Quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <11 10>;
            timeout-ms = <50>;
            layers = <0 3 2>;
        };

        Exclamation {
            bindings = <&kp EXCLAMATION>;
            key-positions = <21 22>;
            timeout-ms = <50>;
            layers = <0 2 3>;
        };

        Pound {
            bindings = <&kp POUND>;
            key-positions = <23 24>;
            timeout-ms = <50>;
            layers = <0 2 3>;
        };

        Ampersand {
            bindings = <&kp AMPERSAND>;
            key-positions = <27 28>;
            timeout-ms = <50>;
            layers = <0 2 3>;
        };

        Astrk {
            bindings = <&kp ASTRK>;
            key-positions = <29 30>;
            timeout-ms = <50>;
            layers = <0 2 3>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };

        hl: hold_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_LAYER";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <130>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃     ;     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                 &kp Q       &kp W       &kp E        &kp R        &kp T      &kp Y        &kp U          &kp I        &kp O       &kp P
                 &hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHFT F  &kp G      &kp H        &hm RSHFT J    &hm RCTRL K  &hm RALT L  &hm RGUI SEMI
&hl 3 LS(SPACE)  &kp Z       &kp X       &kp C        &kp V        &kp B      &kp N        &kp M          &kp COMMA    &kp DOT     &kp FSLH       &hl 2 BSLH
                                         &kp ESCAPE   &kp SPACE    &kp TAB    &hl 1 ENTER  &kp BACKSPACE  &kp DELETE
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        sim_layer {
            bindings = <
       &kp EXCLAMATION  &kp AT_SIGN             &kp POUND         &kp DOLLAR        &kp PERCENT    &kp CARET         &kp AMPERSAND         &kp ASTERISK           &kp PIPE           &kp MINUS
       &hm LGUI HOME    &hm LALT DOUBLE_QUOTES  &hm LCTRL SQT     &hm LSHIFT TILDE  &kp GRAVE      &kp BACKSLASH     &hm LSHFT LBRC        &hm RCTRL RBRC         &hm RALT SEMI      &hm RGUI PLUS
&to 3  &kp END          &kp LESS_THAN           &kp GREATER_THAN  &kp LEFT          &kp RIGHT      &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp UNDERSCORE  &hl 2 EQUAL
                                                &kp ESCAPE        &kp SPACE         &hl 0 TAB      &kp ENTER         &kp BACKSPACE         &kp DELETE
            >;

            label = "SIM";
        };

        feature_layer {
            bindings = <
       &kp C_BRI_DEC  &kp C_BRI_INC  &kp C_VOL_DN  &kp C_VOL_UP  &none        &kp HOME     &kp PG_DN       &kp PG_UP     &kp END         &none
       &kp LGUI       &kp LALT       &kp LCTRL     &kp LSHFT     &none        &kp LEFT     &hm RSHFT DOWN  &hm RCTRL UP  &hm RALT RIGHT  &hm RGUI PRINTSCREEN
&to 3  &none          &none          &none         &none         &none        &none        &none           &none         &none           &none                 &none
                                     &kp ESC       &kp SPACE     &hl 0 TAB    &hl 1 ENTER  &kp BSPC        &kp DEL
            >;

            label = "FEATURE";
        };

        num_func_layer {
            bindings = <
       &kp F12      &kp F11      &kp F10       &kp F9        &none        &kp MINUS    &kp N7        &kp N8        &kp N9       &kp STAR
       &hm LGUI F8  &hm LALT F7  &hm LCTRL F6  &hm LSHFT F5  &none        &kp EQUAL    &hm RSHFT N4  &hm RCTRL N5  &hm RALT N6  &hm RGUI SLASH
&none  &kp F4       &kp F3       &kp F2        &kp F1        &none        &kp N0       &kp N1        &kp N2        &kp N3       &kp PLUS        &hl 2 DOT
                                 &kp ESC       &kp SPACE     &hl 0 TAB    &hl 1 ENTER  &kp BSPC      &kp DEL
            >;

            label = "NUM_FUNC";
        };
    };
};
